body{
    background-color: beige; }

 h1 {
    color: rgb(173,141,50);
    text-align : center;

}
nav ul li a {   
    color: goldenrod;
    padding :12px;

}
 h2 {
    color: chocolate;
}
    
img {
    width: 350;
    height: 200;}

footer{ color: black;
background-color: burlywood;
padding:15px ;
padding-left : 200px;
}